<div class="inline-flex justify-center items-center w-[234px] h-[34px]">
  <button class="relative inline-flex justify-center items-center mr-7">
    <span
      class="
        animate-ping
        absolute
        inline-flex
        h-3
        w-3
        rounded-full
        bg-[#EF4D38]
        border-bg-[#EF4122]
        top-0
        right-0
      "
    ></span>
    <span
      class="
        absolute
        inline-flex
        rounded-full
        h-3
        w-3
        bg-[#EF4D38]
        border-bg-[#EF4122]
        top-0
        right-0
      "
    ></span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-[#1F3159]"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
      />
    </svg>
  </button>
  <span
    class="
      bg-[#0B162F]
      rounded-full
      text-white
      h-10
      w-10
      flex
      justify-center
      items-center
      text-xs
      mx-6
    "
  >
    {{ initialName }}
  </span>
  <p class="text-sm w-16 text-[#707070]">{{ fullName }}</p>
  <button class="mx-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 text-[#707070]"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
</div>
