<div class="grid grid-cols-12">
  <div class="col-span-2">
    <aside class="bg-white h-screen border border-[#E9E9E9]">
      <div class="h-[64px] w-full flex items-center justify-center">
        <img
          src="{{ LogoAside }}"
          alt="{{ LogoAsideAtl }}"
          class="w-[106px] h-[32px]"
        />
      </div>
      <div class="flex flex-col justify-center items-center">
        <app-aside-userdetail></app-aside-userdetail>
        <app-aside-menu class="w-full"></app-aside-menu>
      </div>
    </aside>
  </div>
  <div class="col-span-10">
    <header>
      <app-navigation></app-navigation>
    </header>
    <main>
      <app-management></app-management>
      <app-toolbar></app-toolbar>
    </main>
  </div>
</div>
